# Host Module Federation remotes
VITE_MFE_STUDENT_URL=http://localhost:4173
VITE_MFE_INSTITUTION_URL=http://localhost:4175
VITE_MFE_ACTIVITY_URL=http://localhost:4176
VITE_MFE_DASHBOARD_URL=http://localhost:4178
VITE_MFE_ADMIN_URL=http://localhost:4179

# Runtime API configuration used by MFEs
VITE_API_URL=http://localhost:3333

# Keycloak OIDC configuration
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=secretaria-escolar
VITE_KEYCLOAK_CLIENT_ID=secretaria-frontend